<footer class="footer">
  <div class="container">
    
    <div class="row ">
      <div class="col-md-3 ">
        <a class="navbar-brand ml-4 mr-5" href="/"><img src="/images/logo.png" alt="Logo SwapBook" ></a>
      </div>
      
      <div class="col-md-3">
        <h4>Sobre</h4>
        <ul class="footer-nav">
          <li>
            <a class="text-dark" href="quemSomos">Quem Somos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h4 class="text-bold">Suporte</h4>
        <ul class="footer-nav">
          <li >
            <a class="text-dark" href="comofazerparte">Como Fazer Parte</a>
          </li>
          <li>
            <a class="text-dark" href="contato">Fale Conosco</a>
          </li>
          <li>
            <a class="text-dark" href="#">F.A.Q</a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h4>Acessar</h4>
        <ul class="footer-nav">
          <li>
            <a class="text-dark" href="" >Entrar</a>
          </li>
          <li>
            <a class="text-dark" href="">Registrar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="text-darkr">
  <div class="container">
    <div class="row">
      <div class="col-md-6 flex">
       <span> © SwapBook, Inc. 2020. </span>
      </div>
      <div class="col-md-6 flex">
        <span> siga-nos: </span>
        <div>
          <img class="img-logo" src="/images/instagram.svg" alt="logo do instagram">
          <img class="img-logo" src="/images/facebook.svg" alt="logo do facebook">
          <img class="img-logo" src="/images/linkedin.svg" alt="logo do linkedin">
        </div>
       </div>
    </div>
  </div>
</footer><!--end footer-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
</body>
</html>