<%- include('./partials/header') %>
<main>
    <section id="quem-somos" class="mb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-7 ">
              <img src="images/library.jpg" class="img-fluid" />
            </div>
            <div class="col-md-5">
                <h3 class="mt-md-5">Como fazer parte</h3>
                <p>
                    O objetivo do SwapBook é ligar pessoas que tem uma paixão em comum: livros. Se voçe é uma dessas pessoas veja como é facíl fazer parte.
                </p>
                <p class="py-md-3">
                    Faça seu registro.
                </p>
                <p clas="py-md-3">
                    Faça seu login.
                </p>
                <p class="py-md-3">
                    Troque livros.
                </p>
            </div>
          </div>
        </div>
    </section>
    <section id="quem-somos" class="mb-5 pt-5">
        <div class="container">
          <div class="row justify-content-center">
            <h1 class="col-md-10 my-5 font-weight-normal">Informações gerais.</h1> 
          </div>
          <div class="row justify-content-center mb-5">
            <div class="col-md-5 ">
                <h5 class="font-weight-bolder">Quem pode participar?</h5>
                <p>
                    Qualquer pessoa que goste de livros. Como o objetivo do SwapBook é fazer com que pessoas sejam capazes de trocar e doar livros, 
                    os participantes têm que estar dispostos a por seus livros a disposição para outras pessoas.
                </p>
            </div>
            <div class="col-md-5">
                <h5 class="font-weight-bolder">Gêneros literários</h5>
                <p>
                    Todos os gêneros literários são bem-vindos na plataforma. Nós esperamos agregar pessoas interessadas em todos os gêneros.
                    E despertar em voçe uma paixão por um gênero que voçe talvez não conheça.
                </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-5">
                <h5 class="font-weight-bolder">Comprometimento</h5>
                <p>
                   Cada membro da plataforma tem que considerar o livro como um bem a ser cuidado e preservado. Daí vem a necessidade de se comprometer a 
                   zelar pela guarda e cuidado de cada livro em posse.
                </p>
            </div>
            <div class="col-md-5">
                <h5 class="font-weight-bolder">O que pretendemos</h5>
                <p>
                    Esperamos criar um ambiente saúdavel para a troca de experiencias e uma comunidade onde cada um possa crescer. Também esperamos incetivar cada pessoa a ler cada vez mais e criar em cada um 
                    o hábito da leitura.
                </p>
            </div>
          </div>
        </div>
    </section>
</main>
<%- include('./partials/footer') %>