<%- include('./partials/header-logado') %>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 d-none d-lg-block position-fixed col-lateral">
          <div class="d-block">
            <ul class="menu-lateral">
              <li class="sessao-menu"><%= `${usuario.first_name} ${usuario.last_name}` %></li>   
              <li><a data-toggle="modal" data-target="#compartilharLivroModal" href="#">Compartilhar meu livro</a></li>
              <li><a href="listar-meus-livros-para-doacao">Meus livros para doação</a></li>
              <li><a href="listar-meus-livros-para-troca">Meus livros para troca</a></li>                
              <div class="dropdown-divider"></div>    
              <li class="sessao-menu">Comunidade</li>            
              <li><a href="listar-livros-para-doacao">Livros disponíveis para doação</a></li>
              <li><a href="listar-livros-para-troca">Livros disponíveis para troca</a></li>

            </ul>
          </div>


        </div>
        <div class="col-lg-10 offset-lg-2">

          <div class="lista-livros">
            <div class="container-fluid">              
              <div class="row">
                <div class="col-lg-12 topo">                 
                  <h2>Livros disponíveis para troca</h2>                
                </div>  
              </div>
              <div class="row py-5">
                <div class="col-lg-3 text-center">                 
                    <img src="images/img-livros/10.jpg" alt="livro 1" class="img-fluid capa-livro">
                    <p class="m-1 nome-livro">Nome do livro</p>
                    <p class="m-0 usuario">por Carlos</p>
                    <p class="local">local</p>
                    <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Carlos" data-local="local para troca"  data-imagem="10.jpg">Quero este livro</button>                                   
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/9.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca"  data-imagem="9.jpg">Quero este livro</button>                                   
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/8.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca"  data-imagem="8.jpg">Quero este livro</button>                                   
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/7.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca"  data-imagem="7.jpg">Quero este livro</button>                                   
                </div>
              </div>

              <div class="row py-5">
                <div class="col-lg-3 text-center">                 
                    <img src="images/img-livros/6.jpg" alt="livro 1" class="img-fluid capa-livro">
                    <p class="m-1 nome-livro">Nome do livro</p>
                    <p class="m-0 usuario">por Usuario</p>
                    <p class="local">local</p>
                    <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca"  data-imagem="6.jpg">Quero este livro</button>                                  
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/5.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca"  data-imagem="5.jpg">Quero este livro</button>                                 
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/4.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca" data-imagem="4.jpg">Quero este livro</button>                                  
                </div>
                <div class="col-lg-3 text-center">                 
                  <img src="images/img-livros/3.jpg" alt="livro 1" class="img-fluid capa-livro">
                  <p class="m-1 nome-livro">Nome do livro</p>
                  <p class="m-0 usuario">por Usuario</p>
                  <p class="local">local</p>
                  <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#livroModal" data-livro="Nome do livro" data-usuario="Nome do usuário" data-local="local para troca" data-imagem="3.jpg">Quero este livro</button>                                 
                </div>
              </div>
                
            </div>
          </div>

          
          <nav aria-label="Paginaçao livros ">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          
          


        </div>
      </div>
    </div>

    </section>
  </main>

  <div class="modal fade" id="compartilharLivroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">    
          <h5>Cadastrar livro</h5>      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="cadastro-livro">
            <form>
              <div class="row">
                <div class="col-12 col-lg-6">
                  <img src="images/icons/book.png" class="rounded  mr-auto d-block img-fluid mb-3" width="100" alt="Capa livro">
                  <div class="form-group">
                    <label for="nomeLivro">Nome do livro</label>
                    <input type="text" class="form-control" id="nomeLivro" placeholder="Nome do livro">
                  </div>
                  <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" id="autor" placeholder="Autor">
                  </div>
                  <div class="form-group">
                    <label for="acao">O que deseja fazer?</label>
                    <select id="acao" class="form-control">
                      <option selected>O que deseja fazer?</option>
                      <option>Doar</option>
                      <option>Emprestar</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="localTroca">Local de encontro para troca</label>
                    <input type="text" class="form-control" id="localTroca" placeholder="Local de encontro para troca">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3657.164465543781!2d-46.657037035543055!3d-23.562535967519576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sus!4v1586352420780!5m2!1spt-PT!2sus" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-12">
                  <input class="btn btn-primary px-3 my-2" type="submit" value="Cadastrar livro">
                </div>
              </div>
              
              
            </form>
          </div>
        </div>        
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="livroModal" tabindex="-1" role="dialog" aria-labelledby="livroModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="livroModalLabel">Livro para troca</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-lg-6 text-center">
              <img src="" alt="livro 1" id="imgLivro" class="img-fluid capa-livro">
              <p id="livro" class="m-1 nome-livro"></p>                   
              <p class="m-0" id="usuario"></p>
              <p id="local"></p> 
            </div>
            <div class="col-12 col-lg-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3657.164465543781!2d-46.657037035543055!3d-23.562535967519576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sus!4v1586352420780!5m2!1spt-PT!2sus" width="100%" height="270" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-6 text-center">
              <a class="btn btn-primary px-3 my-2" href="#">Entrar em contato com <span id="contato"></span></a>
            </div>
          </div>
                 
        </div>       
      </div>
    </div>
  </div>

  <footer class="footer">

  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="./bootstrap/js/bootstrap.min.js"></script>
  <script src="javascript/owl.carousel.min.js"></script>
  <script>
    $('#livroModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var imagem = button.data('imagem')
      var livro = button.data('livro') 
      var usuario = button.data('usuario') 
      var local = button.data('local') 
      var modal = $(this)
      modal.find('#imgLivro').attr("src",'images/img-livros/'+imagem)
      modal.find('#livro').text(livro)
      modal.find('#usuario').text(usuario)
      modal.find('#contato').text(usuario)
      modal.find('#local').text(local)

    })
  </script>
</body>

</html>