<%- include('./partials/header') %>
  </div>
  <main id="saibamais">
    <img src="images/books.jpg" alt="">
    <section>
      <h2>Título da postagem</h2><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt id ducimus blanditiis quibusdam, accusantium saepe fugiat praesentium velit temporibus repellendus, distinctio eum fugit sint non vel perspiciatis, iure illo cum numquam eveniet pariatur quam. Est temporibus consectetur nam odio commodi aliquid doloribus fuga molestiae doloremque. Sit officia obcaecati veritatis dolores, non libero saepe at, architecto id delectus, nam eos eveniet magni accusamus. Iure odit tempore ut explicabo officia vitae, nam molestias omnis veritatis quam, magni, veniam quos cum doloremque amet autem sapiente ab voluptates excepturi nostrum magnam corporis. Aut veritatis repudiandae minima cupiditate deleniti ipsa unde necessitatibus nam quam corrupti!</p>
    </section>
  </main>
  <%- include('./partials/footer') %>