<%- include('./partials/header') %>
  <main>
    <section id="quem-somos" class="py-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 py-5 mb-5">
            <h2 class="text-center">Quem somos</h2>
            <p class="text-center">Abaixo saiba um pouco mais sobre nós, seja bem vindo e faça bom proveito!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">   
            <p>
              O SwapBook foi desenvolvido por 6 jovens estudantes que querem aproximar as pessoas da leitura. 
            </p>
            <h5>Membros:</h5>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <p>Carol Molina</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Christian Favaro</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>David Lemos</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Daniel Andrade</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Edson Marques</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-7 ">
            <img src="images/library.jpg" class="img-fluid" />
          </div>
          
        </div>
      </div>
    </section>
  </main>
  <%- include('./partials/footer') %>